@model NBDProjectNcstech.Models.Client

@{
	ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Natural By Design |Home</title>

	<!-- Google Font: Source Sans Pro -->
	<link rel="stylesheet" href="~/https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<!-- Font Awesome Icons -->
	<link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="~/dist/css/adminlte.min.css">
	<link rel="stylesheet" href="~/css/TableStyle.css">
</head>
<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
				</li>
				<li class="nav-item">
					<h3>Hello, Admin!</h3>
				</li>


			</ul>

			<!-- Right navbar links -->
			@* <ul class="navbar-nav ml-auto">

				<li class="nav-item">
					<a class="nav-link" data-widget="fullscreen"  role="button">
						<i class="fas fa-expand-arrows-alt"></i>
					</a>
				</li>
			</ul>*@
		</nav> 
		<!-- /.navbar -->
		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a asp-controller="Home" asp-action="Index" class="brand-link">
				<img src="~/dist/img/natural.png" alt="nbd Logo" class="brand-image img-circle elevation-3">

				@* <img src="dist/img/nbd.png" alt="nbd Logo" class="brand-image img-circle elevation-3"> *@
				<span class="brand-text font-weight-bold" style="font-family: 'Times New Roman', Times, serif;">Natural By Design</span>

			</a>

			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				@*  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
				<img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
				<a href="#" class="d-block">Alexander Pierce</a>
				</div>
				</div> *@

				@*  <!-- SidebarSearch Form -->
				<div class="form-inline">
				<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
				<button class="btn btn-sidebar">
				<i class="fas fa-search fa-fw"></i>
				</button>
				</div>
				</div>
				</div> *@

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

						<!-- Home -->
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
								<i class="nav-icon fas fa-home"></i>
								<p>Home</p>
							</a>
						</li>

						<!-- Client -->
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">
								<i class="nav-icon fas fa-users"></i>
								<p>Client</p>
							</a>
						</li>

						<!-- Project -->
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Projects" asp-action="Index">
								<i class="nav-icon fas fa-newspaper"></i>
								<p>Project</p>
							</a>
						</li>

						<!-- Bid -->
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="DesignBids" asp-action="Index">
								<i class="nav-icon fas fa-handshake"></i>
								<p>Bids</p>
							</a>
							@* <a href="#" class="nav-link">
							<i class="nav-icon fas fa-handshake"></i>
							<p>
							Bid
							<i class="fas fa-angle-left right"></i>
							</p>
							</a>

							<ul class="nav nav-treeview">
							<!-- Design Budget -->
							<li class="nav-item">
							<a href="#" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Design Budget</p>
							</a>
							</li>

							<!-- Production Plan -->
							<li class="nav-item">
							<a href="#" class="nav-link">
							<i class="far fa-circle nav-icon"></i>
							<p>Production Plan</p>
							</a>
							</li>
							</ul> *@
						</li>



						<!-- Reports -->
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-file-invoice"></i>
								<p>
									Reports
									<i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">

								<!-- PDW -->
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>PDW</p>
									</a>
								</li>

								<!-- DDW -->
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>DDW</p>
									</a>
								</li>

								<!-- Project Administration Report -->
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Project Administration Report</p>
									</a>
								</li>

								<!-- Inventory Report -->
								<li class="nav-item">
									<a href="#" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Inventory Report</p>
									</a>
								</li>
							</ul>
						</li>



						<!-- Logout -->
						@* <li class="nav-item">
							<a href="#" class="nav-link">
								<i class="nav-icon fas fa-sign-out-alt"></i>
								<p>Logout</p>
							</a>
						</li> *@

					</ul>
				</nav>
				<!-- /.sidebar-menu -->

			</div>
			<!-- /.sidebar -->
		</aside>



		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<!-- Main content -->
			<!-- /.content-header -->
			<!-- Main content -->
			<div class="content">
				<div class="container-fluid">

					<!-- /.row -->


				<div class="card card-primary">
						<div class="card-header" style="background-color:darkgreen;">
					<div class="row mb-2"><br/>
							<divdiv class="col-md-6 offset-md-3" style="margin-top: 20px;">
								<h3 style="color: white;">Create New Client</h3>
							
						</div>
						</div>
					
						
					<div class="row mb-3">
						<div class="col-md-6 offset-md-3">
								<br />
								<form asp-action="Create" style="font-size: 1.2em;">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-group">
									<label asp-for="Name" class="control-label">Organization name</label>
									<input asp-for="Name" class="form-control" placeholder="Enter organization name" />
									<span asp-validation-for="Name" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="ContactPerson" class="control-label">Contact person</label>
									<input asp-for="ContactPerson" class="form-control" placeholder="Enter contact person" />
									<span asp-validation-for="ContactPerson" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Phone" class="control-label">Phone</label>
									<input asp-for="Phone" class="form-control" placeholder="Enter phone number (e.g., 1234567890)" />
									<span asp-validation-for="Phone" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Street" class="control-label">Street</label>
									<input asp-for="Street" class="form-control" placeholder="Enter street address" />
									<span asp-validation-for="Street" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label class="control-label">Province</label>
									<select class="form-control" id="ProvinceID" name="ProvinceID" asp-items="ViewBag.ProvinceID">
										<option value="0">Select Province</option>
									</select>
								</div>
								<div class="form-group">
									<label id="CityIDLabel" class="control-label">City</label>
									<select id="CityID" name="CityID" class="form-control" asp-items="ViewBag.CityID">
										<option value="0">Select a City</option>
									</select>
									<span asp-validation-for="CityID" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="PostalCode" class="control-label">Postal Code</label>
									<input asp-for="PostalCode" class="form-control" placeholder="Enter postal code (e.g., A1A 1A1) "/>
									<span asp-validation-for="PostalCode" class="text-danger"></span>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-success">Create</button>
									<button type="button" onclick="window.location.href = '@Url.Action("Index")'" class="btn btn-primary">Cancel</button>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			</div>

			@* <div>
			</div><!-- /.container-fluid --> *@
		</div> <!-- /.content -->

		<!-- /.content-wrapper -->

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
		<div class="p-3">
			<h5>Title</h5>
			<p>Sidebar content</p>
		</div>
		</aside>
			<!-- /.control-sidebar -->
		<!-- Main Footer -->
		<footer class="main-footer">

		<!-- Default to the left -->
		<strong>    &copy; 2024 - NBDProjectNcstech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></strong>
	</footer>
	</div>
	<!-- jQuery -->
	<script src="plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="dist/js/adminlte.min.js"></script>
</body>
</html>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/js/refreshDDL.js"></script>
	<script type="text/javascript">
		$('#ProvinceID').change(function () {
			var selectedProvince = $("#ProvinceID").val();
			var URL = "/Clients/GetCities/?ProvinceID=" + selectedProvince;
			refreshDDL('CityID', URL, true, 'Select a City', false, null, true);
		});
	</script>
}