@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row mb-3">
    <div class="col-md-9 offset-md-3">
        <h3>@ViewData["Title"]</h3>
  

    </div>
</div>



<div class="row mb-3">
    <div class="col-md-9 offset-md-3">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
       
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
