@model NBDProjectNcstech.Models.Approval

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Approval</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminApprovalStatus" class="control-label"></label>
                <input asp-for="AdminApprovalStatus" class="form-control" />
                <span asp-validation-for="AdminApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminApprovalDate" class="control-label"></label>
                <input asp-for="AdminApprovalDate" class="form-control" />
                <span asp-validation-for="AdminApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminApprovalNotes" class="control-label"></label>
                <input asp-for="AdminApprovalNotes" class="form-control" />
                <span asp-validation-for="AdminApprovalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientApprovalStatus" class="control-label"></label>
                <input asp-for="ClientApprovalStatus" class="form-control" />
                <span asp-validation-for="ClientApprovalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientApprovalDate" class="control-label"></label>
                <input asp-for="ClientApprovalDate" class="form-control" />
                <span asp-validation-for="ClientApprovalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientApprovalNotes" class="control-label"></label>
                <input asp-for="ClientApprovalNotes" class="form-control" />
                <span asp-validation-for="ClientApprovalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignBidID" class="control-label"></label>
                <select asp-for="DesignBidID" class ="form-control" asp-items="ViewBag.DesignBidID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

