@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Natural By Design |Home</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <link rel="stylesheet" href="dist/css/custom.css">
</head>

<div class="center-div">
    <div class="auth-box">
        <img src="dist/img/natural.png" alt="Logo" class="logo" />
        <div class="auth-buttons">
            <ul class="list-unstyled">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">Hello @User.Identity?.Name!</a>
                    </li>
                    <li>
                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="btn btn-outline-light">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success">Register</a>
                    </li>
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Login</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>